<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- https://fezvrasta.github.io/bootstrap-material-design/ -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

<!-- https://github.com/twitter/twemoji/blob/gh-pages/2/svg/1f1e8-1f1f5.svg -->
<link href="/static/Twemoji2_1f1e8-1f1f5.svg" rel="icon">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- fezvrasta provided the below URL for jQuery but it does not seem to work with the /check function
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

<title>Calendar</title>
<style>
html,
body {
  height: 100%;
  margin: 0
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/*////////////*/
#week {
    border: 0px;
    height:100%;

}

.event_object {
    background-color:LightSkyBlue;
    border-radius:13px;
    text-align:left;
}

.hour {
    height:10%;
    border:1px solid lightgray;
    font-size:20px;
    text-align:right;
    padding-right:5px;

}

.hour-container {

height:95%;

}

.event_header {
 margin-bottom:0;
 background-color:Navy;
 border-bottom:1px solid rgba(0,0,0,.12);
 color:white;
 font-weight:bold;
 padding-left:5px;
 font-size:12px;
}

.weekly-col-label {
    width:100%;
    background-color:#537fbe;;
    margin:0px;
    padding:0px;
    color:white;
    font-weight:bold;
    height:5%;

    display: flex;
  align-items: center;
  justify-content: center;

}

.event_content {
    font-size:12px;
    padding:3px;
    background-color:transparent;
    /* https://stackoverflow.com/questions/15405817/truncating-text-inside-a-div */
    white-space: nowrap;      /*keep text on one line */
    overflow: hidden;         /*prevent text from being shown outside the border */
    text-overflow: ellipsis;  /*cut off text with an ellipsis*/


}

.event_object a {
    color: #FFFFFF;
    text-decoration: none;
}

.week_day {
    height:95%;
}

#add_event {
    margin:200px;
}
</style>